.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin: 10px 0!important;
}
.form-container {
  width: 300px;
  margin: auto;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.ui.menu {
  margin: 3rem 0;
}