.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin: 10px 0 !important;
}
.form-container {
  width: 300px;
  margin: auto;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.ui.menu {
  margin: 3rem 0;
}
.ui.card .meta,
.ui.cards > .card .meta {
  margin: 10px 0;
}
@media only screen and (min-width: 450px) and (max-width: 991px) {
  .ui.doubling.grid {
    width: 400px;
    margin: auto !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 2000px) {
  .ui.grid {
    justify-content: center;
  }
  .ui.doubling.grid {
    width: auto;    
  }
}